@import "var.scss";
@import "mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // color: #f9004d;
}
html{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    // font-size: 20px;
}
.bg-img-wrapper{
    width: 100vw;
    // height: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    // backdrop-filter: grayscale(1);
    // filter: gr;
    
    position: absolute;
    z-index: -2;

    .bg-image{
        width: 100%;
        height: 100%;
        z-index: 1;
        background-image: linear-gradient(rgba(0, 0, 0, 0.045), rgba(0, 0, 0, 0.767)), url(./images/_DSC0059-01-removebg-preview-02.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
    }


}
.content{
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    // border: 1px solid white;
    

    .nav-bar{
        width: 80%;
        display: flex;
        // flex-direction: ro;
        justify-content: center;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 2rem;
        position: relative;
        
        p{
            font-size: 2rem;
            font-weight: 700;
            b{
                color: $btn-color;
            }
        }
        ul{
            display: flex;
            list-style: none;
            align-items: baseline;
            gap: 5rem;

            li{
                
                // width: fit-content;
                position: relative;
                width: fit-content;

                &::before{
                    content: "";
                    width:100%;
                    height: .2rem;
                    background-color: $btn-color;
                    bottom: -.6rem;
                    border-radius: 2rem;
                    position: absolute;
                    transform: scaleX(0);
                    transition: 0.4s;
                    opacity: 0;
                    
                }
                &:hover::before{
                    transform: scaleX(1);
                    opacity: 1;
                   

                }
                

                

                a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.1rem;
                   
                    
                }
            }
        }
        .btn-submit{
            background-color: $btn-color;
            width: 8rem;
            text-align: center;
            padding: 1.1rem 0rem 1.1em 0;
            // padding: 1.2rem;
            border-radius: 1rem;
            font-weight: bold;
            
        }
        input{
            visibility: hidden;
            position: absolute;
        }
        // .check-btn{
        //     display: none;

        // }
        
        .check-btn{
            font-size: 3rem;
            color: white;
            float: right;
            position: absolute;
            visibility: hidden;

           }
    }

    .sec-hero{
        width: 80%;
        height: 100%;
        // border: 1px solid white;
        margin-top: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items:center;
        
        .left-content{
            width: 50%;
            height: 50%;
            // border: 1px solid white;
            line-height: 5rem;
            p{
                font-size: 1.3rem;
            }

            h2{
                font-size: 5rem;
                margin-bottom: 0.2rem;

                b{
                    color: $btn-color;
                }
            }

            .email-input{
                
                background: white;
                display: inline-block;
                width: 60%;
                height: 2.5rem;
                display: flex;
                // justify-content: space-between;
                overflow: hidden;
                padding:.2rem;
                align-items: center;
                border-radius: 3rem;
                // margin-top: 0.2rem;
                // position: relative;
                input{
                    width: 70%;
                    margin-left: .5rem;
                    height: 100%;
                    outline: none;
                    border: none;
                    user-select: none;
                }
                input::placeholder{
                    font-size: .9rem;

                }

                a{
                    background-color: $btn-color;
                    height: 100%;
                    width: 8rem;
                    @include flex-center;
                    height: 100%;
                    margin-right: .3rem;
                    border-radius: 3rem;
                    text-decoration: none;
                    color: white;
                    transition: 0.3s;
                    // padding-right: .3rem;
                    i{
                        padding-left: .4rem;
                        font-size: 1.4rem;
                    }

                    &:hover{
                        background-color: #dd064a;
                        transform: scale(1.02);
                    }

                }
                &:active a{
                    transform: scale(0.96);
                }
            }



        }

    }
}
.about-page{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid white;
    
    // border: 1px solid white;
    .content-about-page{
        width: 80%;
        height: 80%;
        display: grid;
        grid-template-columns: 40% 60%;
        // border: 1px solid white;
        gap: 3rem;
        // overflow: wrap;
        // flex-wrap: wrap;
        .left-part{
            // border: 1px solid white;
            
            // background-color: $btn-color;

            border-radius: 2rem;
            width: 100%;
            height: 100%;
            padding: 5rem;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.131);
            border: 1px solid rgb(161, 158, 158);
            // gap: 2rem;
            
            .about-logo{
                width: 5.625rem;
                display: inline-block;
                margin: 1.5rem;
                transition: .7s;

                &:hover{
                    transform: scale(1.1);
                }
                

            }
            span{
                position: absolute;
                text-align: center;
            }
           
        }


        
        .right-page{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            overflow: wrap;
            padding:2rem 10rem 2rem 2rem;

            h2{
                font-size: 4rem;
            }
            h3{
                font-size: 1.7rem;
                b{
                    color: $btn-color;
                }
            }
            p{
                line-height: 1.7rem;
                font-size: 1.2rem;
                margin-bottom: 1.1rem;
                color: $text-color;
            }
            span{
                cursor: pointer;
                background-color: $btn-color;
                width: 8rem;
                padding: 1.1rem 0;
                text-align: center;
                border-radius: 2rem;

                a{
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
        }
    }
}







// =============
//   Projects
// =============

.project-page{
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    background-color: black;
    // border: 1px solid white;
    @include flex-center;
    flex-direction: column;
    // border: 1px solid white;

   .content-project-box{
    width: 80%;
    height: 80%;
    padding-bottom: 4rem;
    

    

    h2{
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
        b{
            color:$btn-color ;
        }
    }
    .content-project-page{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21.875rem, auto));
        align-items: center;
        gap: 2.5rem;
        margin-top: 5rem;

        .grid{
            position: relative;
            overflow: hidden;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
            img{
                width: 100%;
                height: 100%;
                transform: scale(1.05);
                transition: 0.3s;

            }
            .layer{
                width: 100%;
                height: 0;
                background: linear-gradient(rgba(0,0,0,0.1), #ff004f);
                position: absolute;
                border-radius: .5rem;
                left: 0;
                bottom: 0;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0 2.5rem;
                transition: height 0.5s;

                h5{
                    font-size: 1.25;
                    font-weight: 600;
                    margin-bottom: .9375rem;
                   
                }
                p{
                    color: $text-color;
                    line-height: 1.8;
                    font-size: 1rem;

                }
               
                a {
                    text-decoration: none;
                    i{
                        color: $btn-color;
                        margin-top: 1.25rem;
                        font-size: 1.25rem;
                        background: $text-color;
                        width:3.75rem;
                        height: 3.75rem;
                        display: flex;
                        @include flex-center;
                        border-radius: 50%;
                            
                            
                    }
                }
                

            }
            &:hover img{
                transform: scale(1.1);
            }
            &:hover .layer{
                height: 100%;
            }
            &:active{
                transform: scale(.96);
            }
        }

    }
   }
}

// ===================
//   Service-Section
// ===================

.service-page{
    width: 100vw;
    height: 100vh;
    background-color: black;
    // overflow: hidden;
    @include flex-center;
    // border: 1px solid white;

    .container-service{
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        line-height: 3rem;
        // flex-wrap: wrap;
        overflow-wrap: normal;

        h2{
            font-size: 3rem;
            b{
                color: $btn-color;
            }
        }

        .service-card{
            width: 100%;
            height: auto; 
            position: relative;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            margin-top: 6rem;
            

            .card{
                display: inline-block;
                height: 100%;
                width: 30%;
                padding: 2rem;
                background-color: rgb(50, 49, 49);
                border-radius: .6rem;
                line-height: normal;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                transition: 0.4s;

                &:hover{
                    translate: 0 -1rem;
                }

                i{
                    font-size: 2rem;
                }
                h4{
                    font-size: 1.3rem;
                }
                p{
                    line-height: 1.7rem;
                    color: $text-color;
                }
                a{
                    color: white;
                    background-color: rgb(78, 77, 77);
                    width: 6rem;
                    height: 2rem;
                    @include flex-center;
                    text-decoration: none;
                    font-weight: bold;
                    border-radius: .2rem;
                    margin-top: 1.2rem;
                    box-shadow: 0 0 7px black;
                    transition: 0.4s;

                    &:hover{
                        background-color: $text-color;
                        color: rgb(62, 62, 62);
                        transform: scale(1.02);
                    }
                }

            }
        }
    }
}


// ===============
//    Contact Me
// ===============

.contact-wrapper{
    width: 100vw;
    height: 100vh;
    background-color: black;
    // border: 1px solid white;
    overflow: hidden;
    @include flex-center;

    .contact-container{
        width: 80%;
        height: 80%;
        // border: 1px solid white;
        display: grid;
        grid-template-columns: repeat(2,1fr);

        

        .contact-left{
            
            @include flex-center;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 1.2rem;
            
            
            h5{
                font-size: 1.1rem;
            }
            h2{
                color: white;
                font-size: 4rem;

                b{
                    color: $btn-color;
                }

            }
            ul{
                list-style: none;
                li{
                    line-height: 2;

                    a{
                        text-decoration: none;
                        color: $text-color;
                        padding-left: .9rem;

                    }
                    
                }
            }
            .social-icons{
                position: relative;
                display: flex;
                flex-direction: row;
                gap: 1rem;

                a{
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: .4rem;
                    background-color: $btn-color;
                    @include flex-center;
                    &:hover .icons{
                        transform: scale(1.2);
                    }
                    &:active{
                        transform: scale(0.9);
                    }

                    
                   
                .icons{
                    color: $text-color;
                    font-size: 1.3rem;
                    transition: 0.3s;

                    
                }
                }
            
            }

        }

        .contact-right{
            width: 100%;
            height: 100%;
            padding-top: 3rem;
            // overflow: hidden;
            form{
                // border: 1px solid white;
                width: 100%;
                height: 100%;
                display: flex;
                gap: 1.1rem;
                flex-direction: column;
                .inp-size{
                    height: 3rem;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: rgb(41, 41, 41);
                    border-radius: .3rem;
                    padding-left: .9rem;
                    color: white;
                    &:active{
                        transform: scale(1.006);
                    }
                }
                textarea{
                    width: 100%;
                    height: 20rem;
                    outline: none;
                    border: none;
                    background-color: rgb(41, 41, 41);
                    border-radius: .3rem;
                    padding: .9rem;
                    color: white;
                    resize: none;
                    font-family: 'Josefin Sans', sans-serif;
                    font-size: 1.1rem;
                    &:active{
                        transform: scale(1.006);
                    }
                }

                button{
                    width: 8rem;
                    height: 2.6rem;
                    border-radius: .3rem;
                    cursor: pointer;
                    padding: 0 .6rem;
                    background-color: $btn-color;
                    color: white;
                    font-weight: bold;
                    border: none;

                    &:active{
                        transform: scale(.97);
                    }
                }

            }
        }
    }
}
@media(max-width:1010px) {
    html{
        font-size: 70%;
    }
    
}
@media(max-width:1131px) {
    html{
        font-size: 90%;
    }
    
}
@media(max-width:998px) {
    html{
        font-size: 78%;
    }
    
}
@media(max-width:1033px) {
    html{
        font-size: 70%;
    }
    
}
@media(min-width:1364){
    html{
        font-size: 66%;
    }
}
@media(min-width:1680px){
    html{
        font-size: 105%;
    }
}
@media(min-width:1847px){
    html{
        font-size: 115%;
    }
}
@media(min-width:1921px){
    html{
        font-size: 117%;
    }
}
@media(max-width:925px) {
    html{
        font-size: 66%;
    }
    
}
@media(max-width:909px) {
    html{
        font-size: 60%;
    }
    
}
@media(max-width:692px) {
    html{
        font-size: 50%;
    }
    
}
@media screen and (max-width:600px){
    html{
        overflow-x: hidden;
        background-color: black;
    }
    .bg-img-wrapper{
        width: 130vw;
        height: 129vh;
        .bg-image {
            background-image:none;
        }
    }
    .check-btn{
        display:contents;
    }
    .content{
        height: 120vh;
        width: 130vw;
        
        
    }
    .content .nav-bar{
        flex-direction: row-reverse;
    }
    .content .nav-bar .btn-submit {
       display: none;
    }
    .content .nav-bar ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 50%;
        border: 1px solid $text-color;
        // height: 23rem;
        background-color: black;
        top: 5rem;
        padding: 0;
        right: 0;
        gap: .2rem;
        justify-content: center;
        align-items: center;
        // transform: scaleY(0);
        //  border: 1px solid gray;
        li{
            padding: 0;
            // border: 1px solid gray;
            background-color: rgb(50, 49, 49);
            text-align: center;
            width: 100%;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }
      .checkBox:not(:checked)~ul{
        
        transform: scaleY(0);
        // width: 0;
        // height: 50%;
        opacity: 0;
        transform-origin: top;
        transition: 0.5s;
      }
    .content .nav-bar p {
        font-size: 4rem;
        font-weight: 700;
      }
      
    .content .sec-hero .left-content {
        width: 100%;
        line-height: 9rem;
      }
      .content .sec-hero .left-content p {
        font-size: 3rem;
      }
      .content .sec-hero .left-content h2 {
        font-size: 8rem;
        line-height: 1;
      }
      .content .sec-hero .left-content .email-input {
        display: inline-block;
        width: 70%;
        height: 5rem;
        display: flex;
        overflow: hidden;
        align-items: center;
        padding-left: 1.2rem;

    }
    .content .sec-hero .left-content .email-input input {
        width: 100%;
        height: 100%;
    }
    .content .sec-hero .left-content .email-input input::placeholder {
        font-size: 1.6rem;
      }
      .content .sec-hero .left-content .email-input a {
        width: 15rem;
        font-size: 1.5rem;
        transition: 0.2s;
        i{
            font-size: 1.8rem;
        }
      }

    .about-page{
        width: 130vw;
        height: 129vh;
        display: flex;
        flex-direction: column;
    }
    .about-page .content-about-page{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 1;
    }
    .about-page .content-about-page .left-part {
        border-radius: 2rem;
        height: 100%;
      }
      .about-page .content-about-page .right-page {
        // margin:  auto;
        margin-top: 8rem;
        padding: 0;
        p{
            font-size: 1.7rem;
        }
        h2 b{
            color: $btn-color;
        }
      }
      .project-page {
        height: auto;
        width: 130vw;
        display: flex;
        flex-wrap:wrap;
        overflow: auto;
        flex-direction: column;
        flex-shrink: 2;
      }

      .service-page {
        height: auto;
        width: 130vw;    
        padding: 4rem 0;    
    }
    .service-page .container-service .service-card .card h4 {
        font-size: 2rem;
      }
    .service-page .container-service .service-card .card i {
        font-size: 2.5rem;
      }
    .service-page .container-service .service-card .card p {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .service-page .container-service .service-card .card a {
        width: 10rem;
        height: 3rem;
        font-size: 1.3rem;

    }

      .service-page .container-service {

        .service-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            
            .card{
                width: 100%;
            }
        }

        
      }

      .contact-wrapper {
        height: auto;
        width: 130vw;
        overflow: hidden;
        display: flex;
        padding: 5rem 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .contact-wrapper .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10rem;
      }
      .contact-wrapper .contact-container .contact-right form button {
        width: 10rem;
        height: 4rem;
        font-size: 1.2rem;
        padding: 0 0.6rem;
      }

    .content .nav-bar .check-btn {
        font-size: 3rem;
        color: white;
        float: right;
        // height: 100%;
        // display:inline;
        visibility: visible;
    }
    .checkBox:checked~ul{
        transform: scaleY(1);
        transform-origin: top;
        
    }
}