@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.bg-img-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  position: absolute;
  z-index: -2;
}
.bg-img-wrapper .bg-image {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.045), rgba(0, 0, 0, 0.767)), url(./images/_DSC0059-01-removebg-preview-02.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
}

.content {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.content .nav-bar {
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2rem;
  position: relative;
}
.content .nav-bar p {
  font-size: 2rem;
  font-weight: 700;
}
.content .nav-bar p b {
  color: #f9004d;
}
.content .nav-bar ul {
  display: flex;
  list-style: none;
  align-items: baseline;
  gap: 5rem;
}
.content .nav-bar ul li {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.content .nav-bar ul li::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #f9004d;
  bottom: -0.6rem;
  border-radius: 2rem;
  position: absolute;
  transform: scaleX(0);
  transition: 0.4s;
  opacity: 0;
}
.content .nav-bar ul li:hover::before {
  transform: scaleX(1);
  opacity: 1;
}
.content .nav-bar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}
.content .nav-bar .btn-submit {
  background-color: #f9004d;
  width: 8rem;
  text-align: center;
  padding: 1.1rem 0rem 1.1em 0;
  border-radius: 1rem;
  font-weight: bold;
}
.content .sec-hero {
  width: 80%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .sec-hero .left-content {
  width: 50%;
  height: 50%;
  line-height: 5rem;
}
.content .sec-hero .left-content p {
  font-size: 1.3rem;
}
.content .sec-hero .left-content h2 {
  font-size: 5rem;
  margin-bottom: 0.2rem;
}
.content .sec-hero .left-content h2 b {
  color: #f9004d;
}
.content .sec-hero .left-content .email-input {
  background: white;
  display: inline-block;
  width: 60%;
  height: 2.5rem;
  display: flex;
  overflow: hidden;
  padding: 0.2rem;
  align-items: center;
  border-radius: 3rem;
}
.content .sec-hero .left-content .email-input input {
  width: 70%;
  margin-left: 0.5rem;
  height: 100%;
  outline: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content .sec-hero .left-content .email-input input::-moz-placeholder {
  font-size: 0.9rem;
}
.content .sec-hero .left-content .email-input input:-ms-input-placeholder {
  font-size: 0.9rem;
}
.content .sec-hero .left-content .email-input input::placeholder {
  font-size: 0.9rem;
}
.content .sec-hero .left-content .email-input a {
  background-color: #f9004d;
  height: 100%;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-right: 0.3rem;
  border-radius: 3rem;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.content .sec-hero .left-content .email-input a i {
  padding-left: 0.4rem;
  font-size: 1.4rem;
}
.content .sec-hero .left-content .email-input a:hover {
  background-color: #dd064a;
  transform: scale(1.02);
}
.content .sec-hero .left-content .email-input:active a {
  transform: scale(0.96);
}

.about-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-page .content-about-page {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 3rem;
}
.about-page .content-about-page .left-part {
  border-radius: 2rem;
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.131);
  border: 1px solid rgb(161, 158, 158);
}
.about-page .content-about-page .left-part .about-logo {
  width: 5.625rem;
  display: inline-block;
  margin: 1.5rem;
  transition: 0.7s;
}
.about-page .content-about-page .left-part .about-logo:hover {
  transform: scale(1.1);
}
.about-page .content-about-page .left-part span {
  position: absolute;
  text-align: center;
}
.about-page .content-about-page .right-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  overflow: wrap;
  padding: 2rem 10rem 2rem 2rem;
}
.about-page .content-about-page .right-page h2 {
  font-size: 4rem;
}
.about-page .content-about-page .right-page h3 {
  font-size: 1.7rem;
}
.about-page .content-about-page .right-page h3 b {
  color: #f9004d;
}
.about-page .content-about-page .right-page p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
  color: rgb(213, 211, 211);
}
.about-page .content-about-page .right-page span {
  cursor: pointer;
  background-color: #f9004d;
  width: 8rem;
  padding: 1.1rem 0;
  text-align: center;
  border-radius: 2rem;
}
.about-page .content-about-page .right-page span a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.project-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-page .content-project-box {
  width: 80%;
  height: 80%;
  padding-bottom: 4rem;
}
.project-page .content-project-box h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 2rem;
}
.project-page .content-project-box h2 b {
  color: #f9004d;
}
.project-page .content-project-box .content-project-page {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.875rem, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.project-page .content-project-box .content-project-page .grid {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.project-page .content-project-box .content-project-page .grid img {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  transition: 0.3s;
}
.project-page .content-project-box .content-project-page .grid .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
  position: absolute;
  border-radius: 0.5rem;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 2.5rem;
  transition: height 0.5s;
}
.project-page .content-project-box .content-project-page .grid .layer h5 {
  font-size: 1.25;
  font-weight: 600;
  margin-bottom: 0.9375rem;
}
.project-page .content-project-box .content-project-page .grid .layer p {
  color: rgb(213, 211, 211);
  line-height: 1.8;
  font-size: 1rem;
}
.project-page .content-project-box .content-project-page .grid .layer a {
  text-decoration: none;
}
.project-page .content-project-box .content-project-page .grid .layer a i {
  color: #f9004d;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  background: rgb(213, 211, 211);
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.project-page .content-project-box .content-project-page .grid:hover img {
  transform: scale(1.1);
}
.project-page .content-project-box .content-project-page .grid:hover .layer {
  height: 100%;
}
.project-page .content-project-box .content-project-page .grid:active {
  transform: scale(0.96);
}

.service-page {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-page .container-service {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  line-height: 3rem;
  overflow-wrap: normal;
}
.service-page .container-service h2 {
  font-size: 3rem;
}
.service-page .container-service h2 b {
  color: #f9004d;
}
.service-page .container-service .service-card {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}
.service-page .container-service .service-card .card {
  display: inline-block;
  height: 100%;
  width: 30%;
  padding: 2rem;
  background-color: rgb(50, 49, 49);
  border-radius: 0.6rem;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  transition: 0.4s;
}
.service-page .container-service .service-card .card:hover {
  translate: 0 -1rem;
}
.service-page .container-service .service-card .card i {
  font-size: 2rem;
}
.service-page .container-service .service-card .card h4 {
  font-size: 1.3rem;
}
.service-page .container-service .service-card .card p {
  line-height: 1.7rem;
  color: rgb(213, 211, 211);
}
.service-page .container-service .service-card .card a {
  color: white;
  background-color: rgb(78, 77, 77);
  width: 6rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0.2rem;
  margin-top: 1.2rem;
  box-shadow: 0 0 7px black;
  transition: 0.4s;
}
.service-page .container-service .service-card .card a:hover {
  background-color: rgb(213, 211, 211);
  color: rgb(62, 62, 62);
  transform: scale(1.02);
}

.contact-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-wrapper .contact-container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact-wrapper .contact-container .contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.2rem;
}
.contact-wrapper .contact-container .contact-left h5 {
  font-size: 1.1rem;
}
.contact-wrapper .contact-container .contact-left h2 {
  color: white;
  font-size: 4rem;
}
.contact-wrapper .contact-container .contact-left h2 b {
  color: #f9004d;
}
.contact-wrapper .contact-container .contact-left ul {
  list-style: none;
}
.contact-wrapper .contact-container .contact-left ul li {
  line-height: 2;
}
.contact-wrapper .contact-container .contact-left ul li a {
  text-decoration: none;
  color: rgb(213, 211, 211);
  padding-left: 0.9rem;
}
.contact-wrapper .contact-container .contact-left .social-icons {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.contact-wrapper .contact-container .contact-left .social-icons a {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  background-color: #f9004d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-wrapper .contact-container .contact-left .social-icons a:hover .icons {
  transform: scale(1.2);
}
.contact-wrapper .contact-container .contact-left .social-icons a:active {
  transform: scale(0.9);
}
.contact-wrapper .contact-container .contact-left .social-icons a .icons {
  color: rgb(213, 211, 211);
  font-size: 1.3rem;
  transition: 0.3s;
}
.contact-wrapper .contact-container .contact-right {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}
.contact-wrapper .contact-container .contact-right form {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.1rem;
  flex-direction: column;
}
.contact-wrapper .contact-container .contact-right form .inp-size {
  height: 3rem;
  width: 100%;
  outline: none;
  border: none;
  background-color: rgb(41, 41, 41);
  border-radius: 0.3rem;
  padding-left: 0.9rem;
  color: white;
}
.contact-wrapper .contact-container .contact-right form .inp-size:active {
  transform: scale(1.006);
}
.contact-wrapper .contact-container .contact-right form textarea {
  width: 100%;
  height: 20rem;
  outline: none;
  border: none;
  background-color: rgb(41, 41, 41);
  border-radius: 0.3rem;
  padding: 0.9rem;
  color: white;
  resize: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
}
.contact-wrapper .contact-container .contact-right form textarea:active {
  transform: scale(1.006);
}
.contact-wrapper .contact-container .contact-right form button {
  width: 8rem;
  height: 2.6rem;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0 0.6rem;
  background-color: #f9004d;
  color: white;
  font-weight: bold;
  border: none;
}
.contact-wrapper .contact-container .contact-right form button:active {
  transform: scale(0.97);
}

@media (max-width: 1010px) {
  html {
    font-size: 70%;
  }
}
@media (max-width: 1131px) {
  html {
    font-size: 90%;
  }
}
@media (max-width: 998px) {
  html {
    font-size: 78%;
  }
}
@media (min-width: 1364) {
  html {
    font-size: 66%;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 105%;
  }
}
@media (min-width: 1847px) {
  html {
    font-size: 115%;
  }
}
@media (min-width: 1921px) {
  html {
    font-size: 117%;
  }
}
@media (max-width: 925px) {
  html {
    font-size: 66%;
  }
}
@media (max-width: 909px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
  .content {
    height: 129vh;
    width: 130vw;
  }
  .content .nav-bar p {
    font-size: 4rem;
    font-weight: 700;
  }
  .content .nav-bar ul {
    display: flex;
    list-style: none;
    align-items: baseline;
    gap: 1rem;
  }
  .content .sec-hero .left-content {
    width: 100%;
    line-height: 9rem;
  }
  .content .sec-hero .left-content p {
    font-size: 3rem;
  }
  .content .sec-hero .left-content h2 {
    font-size: 10rem;
    line-height: 1;
  }
  .content .sec-hero .left-content .email-input {
    display: inline-block;
    width: 80%;
    height: 5rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-left: 1.2rem;
  }
  .content .sec-hero .left-content .email-input input {
    width: 100%;
    height: 100%;
  }
  .content .sec-hero .left-content .email-input input::-moz-placeholder {
    font-size: 1.6rem;
  }
  .content .sec-hero .left-content .email-input input:-ms-input-placeholder {
    font-size: 1.6rem;
  }
  .content .sec-hero .left-content .email-input input::placeholder {
    font-size: 1.6rem;
  }
  .content .sec-hero .left-content .email-input a {
    width: 15rem;
    font-size: 1.5rem;
    transition: 0.2s;
  }
  .content .sec-hero .left-content .email-input a i {
    font-size: 1.8rem;
  }
  .about-page {
    width: 130vw;
    height: 129vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
  }
  .about-page .content-about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
  }
  .about-page .content-about-page .left-part {
    border-radius: 2rem;
    width: 80%;
    height: 100%;
  }
  .project-page {
    height: auto;
    width: 130vw;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    flex-direction: column;
    flex-shrink: 2;
  }
  .project-page .content-project-box .content-project-page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 5rem;
  }
  .service-page {
    height: auto;
    width: 130vw;
  }
  .service-card .card {
    width: 100%;
    height: 5rem;
  }
  .service-page .container-service .service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .service-page .container-service .service-card .card {
    width: 100%;
  }
  .contact-wrapper {
    height: 129vh;
    width: 130vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-wrapper .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
  }
  .contact-wrapper .contact-container .contact-right form button {
    width: 10rem;
    height: 4rem;
    font-size: 1.2rem;
    padding: 0 0.6rem;
  }
}/*# sourceMappingURL=main.css.map */